[Unit]
Description=Tinkereum Bootnode
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/geth --syncmode "full" --rpc --rpcapi "eth,net,web3" --rpccorsdomain '*' --rpcvhosts '*' --rpcaddr "0.0.0.0" --rpcport 8545 --ipcdisable

[Install]
WantedBy=multi-user.target
