[Unit]
Description=Tinkereum Bootnode
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/geth --syncmode "full" --ipcdisable

[Install]
WantedBy=multi-user.target
